[Unit]
Description=Hourly NTrnet authentication cleanup

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
