NTRNET_DATABASE_URL=mysql+pymysql://ntrnet:REPLACE_WITH_URL_ENCODED_PASSWORD@127.0.0.1/ntrnet?charset=utf8mb4
NTRNET_PUBLIC_URL=https://ntrnet.wiki-ss13.space
NTRNET_PORT=8091
NTRNET_TRUST_PROXY=1
NTRNET_MEDIA_ROOT=/srv/ntrnet-media
NTRNET_MEDIA_URL=https://media.wiki-ss13.space
NTRNET_FFPROBE=/usr/bin/ffprobe
